APP_NAME=Base

# DEV or PRODUCTION
APP_MODE=DEV
APP_PORT=3000
APP_URL=http://localhost:3000
APP_PREFIX_ROUTES=/
APP_VERSION=1.0.0

ALLOWED_ORIGINS=http://localhost:4200,http://localhost:3000
ALLOWED_METHODS=OPTIONS,HEAD,CONNECT,GET,POST,PUT,DELETE,PATCH

USE_DATABASE=yes
USE_MAIL=yes

DATABASE_URL=mongodb://127.0.0.1:27017/framework
REDIS_URL=redis://127.0.0.1:6379

SECRET_TOKEN=insert_token

SAVE_LOGS=yes

TEMPLATE_PATH=templates

# OFFLINE SETTINGS
MAIL_HOST_DEV=localhost
MAIL_PORT_DEV=1025
MAIL_SERVICE_DEV=gmail
MAIL_SENSER_NAME_DEV=
MAIL_SENSER_EMAIL_DEV=
MAIL_SECURE_DEV=false
MAIL_USER_DEV=false
MAIL_PASSWORD_DEV=false

# ONLINE SETTINGS
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SERVICE=gmail
MAIL_SENSER_NAME=
MAIL_SENSER_EMAIL=
MAIL_SECURE=true
MAIL_USER=
MAIL_PASSWORD=
