<h1 style="color: #333;">Welcome {{name}} !</h1>
<p>Thank you for joining on {{ app_name }}. We look forward to you exploring and enjoying all we have to offer.</p>
<p>To get started, here are some suggestions of what you can do:</p>
<ul style="list-style-type: none; padding-left: 0;">
    <li style="background-color: #ff4f5a; color: white; padding: 10px; margin-bottom: 10px; border-radius: 5px;">1. <a href="[lien]" style="color: white; text-decoration: none;">Complete your profile</a> for a more personalized experience.</li>
    <li style="background-color: #333; color: white; padding: 10px; margin-bottom: 10px; border-radius: 5px;">2. <a href="[lien]" style="color: white; text-decoration: none;">Check out our top features</a> to see everything we offer.</li>
    <li style="background-color: #ff4f5a; color: white; padding: 10px; border-radius: 5px;">3. <a href="[lien]" style="color: white; text-decoration: none;">Contact our support team</a> if you have any questions.</li>
</ul>
<p>We are at your disposal and hope you enjoy your experience on {{ app_name }}.</p>