<h2 style="color: #333;">Welcome to {{ app_name }}!</h2>
<p>You have just logged in with your account on the {{ app_name }} application, we are happy to see you again. If you are the originator of this connection, you do not have to do anything.</p>
<p>If you are not the author of this new connection, please click on the following link: <a href="/link">I am not the author of the connection.</a></p>
{{!-- <h3 style="text-align:center;color:#ff4f5a;letter-spacing:5px;font-size:25px;">Login</h3> --}}